<div
  class="h-14 w-full border-b border-solid border-t-0 border-x-0 p-4 flex items-center fixed pl-24 lg:pl-4"
>
  <h1 class="text-sm font-semibold">Clients</h1>
</div>

<div class="p-4 mt-[60px]">
  <div class="flex justify-between mb-4">
    <div class="max-w-4xl">
      <input
        placeholder="Search by company"
        type="text"
        class="text-input"
        [formControl]="search"
      />
    </div>

    <button class="btn" (click)="showAddClientModal()">Add client</button>
  </div>

  <p-table
    *ngIf="clients$ | async as clients"
    [value]="clients | filter : 'company' : search.value || ''"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Company</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        <th>Since</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.company }}</td>
        <td>{{ client.contactName }}</td>
        <td>{{ client.contactEmail }}</td>
        <td>{{ client.createdAt }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="Add client"
  [(visible)]="addClientModalVisible"
  [style]="{ width: '400px' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-client-form
    *ngIf="addClientModalVisible"
    (onSubmit)="handleCreateClient($event)"
  ></app-client-form>
</p-dialog>
