@import "primeng/resources/themes/tailwind-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

body {
  font-family: var(--font-family);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-label {
  @apply block text-gray-700 font-medium text-sm mb-2;
}

.text-input {
  @apply text-sm h-9 outline-none border rounded-md border-gray-300 hover:border-gray-400 transition-colors px-2 focus-visible:border-blue-600 focus-visible:outline focus-visible:outline-1 focus-visible:outline-blue-600 outline-offset-0 w-full;
}

.invalid-input {
  @apply outline-none border rounded-md border-red-600 hover:border-red-600 transition-colors focus-visible:border-blue-600 outline outline-1 outline-red-600 outline-offset-0;
}

.helper-text {
  @apply mt-1 text-[13px] text-gray-500;
}

.error-message {
  @apply mt-1 text-[13px] text-red-500;
}

.btn {
  @apply whitespace-nowrap text-sm bg-blue-600 hover:bg-blue-700 text-white font-medium h-9 px-3 rounded-md transition-colors active:bg-blue-800;
}

.btn-secondary {
  @apply whitespace-nowrap  text-sm bg-gray-100 hover:bg-gray-200 text-black font-medium h-9 px-3 rounded-md transition-colors active:bg-gray-300;
}

/* Make tables look nicer */
.p-datatable {
  @apply text-sm rounded-md shadow-sm border;
}

.p-datatable-thead th {
  background: white !important;
  color: var(--bluegray-800) !important;
  font-size: 13px;
  font-weight: 600 !important;
  border: 1px solid #e5e7eb !important;
  border-width: 0 0 1px 0 !important;
  border-radius: 6px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: 1px solid #e5e7eb !important;
  border-width: 0 0 1px 0 !important;
}

.p-paginator {
  font-size: 13px;
  border-radius: 6px !important;
}

.p-paginator .p-paginator-element {
  min-width: auto !important;
  height: 36px !important;
  aspect-ratio: 1;
  border-radius: 6px !important;
  font-size: 13px;
  border: none !important;
}

.p-paginator .p-highlight {
  background-color: theme(colors[blue].100) !important;
  color: theme(colors[blue].800) !important;
}

.p-paginator .p-link {
  box-shadow: none;
}

.p-dropdown {
  font-size: 13px !important;
  height: 36px !important;
  display: flex;
  align-items: center;
}

.p-dropdown .p-dropdown-items {
  font-size: 13px !important;
  border-radius: 6px !important;
  overflow: hidden !important;
}

.p-dropdown span.p-inputtext {
  font-size: 13px !important;
  padding-left: 1rem !important;
}

.p-dropdown .p-icon-wrapper svg {
  width: 13px;
}
